{% extends "base.html" %}

{% block title %}À Propos de Nous{% endblock %}

{% block content %}
<section class="container page-section">
    <h1>Qui Sommes-Nous ?</h1>
    <p>Bienvenue sur notre Blog de Voyage ! Nous sommes passionnés par l'exploration de nouveaux horizons et le partage de nos récits d'aventures.</p>
    
    <h2>Notre Mission</h2>
    <p>Notre objectif est d'inspirer les autres à voyager, en offrant des guides pratiques, des photos magnifiques et des conseils authentiques pour les voyageurs.</p>
    
    <div class="team-members">
        </div>
</section>
{% endblock %}