{% extends "base.html" %}
{% block content %}
<section class="articles-list container">
    <h2>Nos Derniers Voyages</h2>
    
    <div class="articles-container">
        {% for article in articles %}
        <article class="article-card">
            <img src="{{ url_for('static', filename='images/placeholder_image_1.jpg') }}" alt="{{ article.titre }}">
            
            <h3><a href="{{ url_for('show_article', article_id=article.id) }}">{{ article.titre }}</a></h3>
            
            <p class="article-meta">Publié par **{{ article.auteur }}** dans **{{ article.categorie_nom }}** - {{ article.date_pub }}</p>
            
            <p class="article-resume">{{ article.resume }}...</p>
            
            <a href="{{ url_for('show_article', article_id=article.id) }}" class="read-more">Lire l'article complet</a>
        </article>
        {% endfor %}
        
        {% if not articles %}
        <p>Aucun article trouvé pour le moment.</p>
        {% endif %}
    </div>
</section>
{% endblock %}